:root {
    /* Original color: #b00c00 */
    --main-color-1: rgb(68, 67, 67);
    /* --main-background:  */
    --note-color: yellow;
    --nav-current: #50aaff;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    display: grid;
    grid-template-columns: 25% auto;
    margin: 0;
}

.logoref {
    font-size: 0;
}

#logo_fill {
    width: 100%;
    background-color: var(--main-color-1);
}

#logo {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color-1);
    align-items: center;
}

nav div a {
    color: white;
    text-decoration: none;
    text-align: center;
    height: 20px;
}

nav div {
    padding: 30px;
    height: auto;
    border-radius: 7px;
}

nav div a:hover {
    /* Make this so it highlights the entire box, not just the text */
    background-color: var(--nav-current);
    color: black;
    opacity: 80%;
    border-radius: 60px;
}

.current {
    background-color: var(--nav-current);
}

.face {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

#cube-container {
    display: grid;
    width: 350px;
    height: 450px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 3px solid lime;
}


#U {
    grid-column: 2/3;
    grid-row: 1/2;
}

#U div {
    background-color: white;
}

#L {
    grid-column: 1/2;
    grid-row: 2/3;
}

#L div {
    background-color: rgb(255, 166, 0);
}

#F {
    grid-column: 2/3;
    grid-row: 2/3;
}

#F div {
    background-color: rgb(48, 209, 48);
}

#R {
    grid-column: 3/4;
    grid-row: 2/3;
}

#R div {
    background-color: red;
}

#D {
    grid-column: 2/3;
    grid-row: 3/4;
}

#D div {
    background-color: yellow;
}

#B {
    grid-column: 2/3;
    grid-row: 4/5;
}

#B div {
    background-color: blue;
}

#U,
#F,
#L,
#R,
#B,
#D {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 3px;
    column-gap: 3px;
    padding: 3px;
    background-color: black;
}

.tl {
    grid-row: 1/2;
    grid-column: 1/2;
}

.tc {
    grid-row: 1/2;
    grid-column: 2/3;
}

.tr {
    grid-row: 1/2;
    grid-column: 3/4;
}

.cl {
    grid-row: 2/3;
    grid-column: 1/2;
}

.cc {
    grid-row: 2/3;
    grid-column: 2/3;
}

.cr {
    grid-row: 2/3;
    grid-column: 3/4;
}

.bl {
    grid-row: 3/4;
    grid-column: 1/2;
}

.bc {
    grid-row: 3/4;
    grid-column: 2/3;
}

.br {
    grid-row: 3/4;
    grid-column: 3/4;
}