* {
    margin: 0;
    padding: 0;
}

:root {
    /* Original color: #b00c00 */
    --main-color-1: rgb(68, 67, 67);
    /* --main-background:  */
    --note-color: yellow;
    --nav-current: #50aaff;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: var(--main-color-1);
}

#logo-fill {
    width: 100%;
    background-color: var(--main-color-1);
}

#logo {
    width: 100%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px;
    text-align: center;
    background-color: var(--main-color-1);
}

nav div {
    padding: 7px;
    border-radius: 7px;
    align-self: center;
}

nav div a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: .5em;
}

nav div a:hover {
    /* Make this so it highlights the entire box, not just the text */
    background-color: var(--nav-current);
    color: black;
    opacity: 80%;
    border-radius: 60px;
}

.current {
    background-color: var(--nav-current);
}

.current a {
    color: black;
}

body {
    background-color: white;
    margin: 0;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 50%;
    height: 40%;
    width: 0;
    z-index: 5;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

    display: grid;
    grid-template-columns: 5% 2fr 5% 2fr 5% 2fr;
    align-items: center;
    justify-items: center;
}

.open-sidebar {
    width: 98%;
    border: 4px solid black;
}

#closebtn {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar_image {
    width: 60%;
    height: auto;
    border: 3px solid black;
}

.sidebar_text {
    font-size: 1em;
    margin: 0;
    margin-left: 35%;
    margin-bottom: 15%;
}

#button_div {
    z-index: 3;
    font-size: .7em;
}

.openbtn {
    font-size: 0.5em;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    max-width: 100px;
}

#notation-sidebar-button {
    font-size: 0.5em;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    width: auto;
}

.sidebar-button-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-button-relative {
    position: absolute;
    left: 0px;
}

.sidebar-nav {
    display: none;
    text-align: left;
    background-color: rgb(67, 164, 255);
    margin: 10px;
    margin-left: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 20%;
    margin-top: 100px;
    border: 4px solid var(--main-color-1);
    border-radius: 10px;
    font-size: .7em;
}

.open-nav {
    display: block;
}

.sidebar-nav ul {
    margin-left: 0;
    padding: 0;
    padding-left: 15px;
    list-style-type: none;
}

.sidebar-nav ul li {
    margin-bottom: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    /* I think this looks WAY better with white but lighthouse is marking me down for accessibility */
    /* border-bottom: 2px solid white; */
    border-bottom: 2px solid black;
}

.sidebar-nav ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.sidebar-nav ul li a {
    text-decoration: none;
    color: black;
    /* I think this looks WAY better with white but lighthouse is marking me down for accessibility */
    /* color: white; */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-nav ul li a:hover {
    background-color: rgb(1, 1, 181);
    border-radius: 5px;
}

main {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}

#content {
    padding: 5%;
    background-color: white;
    grid-column: 2/3;
}

.border_one {
    grid-column: 1/2;
    background-color: var(--main-color-1);
    height: 100%;
    z-index: 1;
    background-color: rgb(68, 67, 67);
}

.border_two {
    grid-column: 3/4;
    background-color: var(--main-color-1);
    height: 100%;
    z-index: 1;
    background-color: rgb(68, 67, 67);
}

.line {
    border-top: 2px solid;
    width: 90%;
    margin-bottom: 50px;
    margin-left: 7px;
}

.small_line {
    width: 70%;
    border-top: 2px solid;
    margin-bottom: 50px;
    margin-left: 10px;
}

:nth-child(1 of .line) {
    margin-bottom: 70px;
}

h2 {
    margin-left: 10%;
    margin-top: 20%;
    font-size: 2em;
    margin-bottom: 30px;
}

.collapse-button-div {
    display: grid;
    grid-template-columns: 80% 20%;
    max-height: 150px;
    margin: 0;
}

.collapse-button {
    text-align: left;
    margin-left: 15px;
    font-size: 1.2em;
    border: none;
    background-color: white;
}

h3 {
    margin-left: 10%;
    margin-top: 20%;
    font-size: 30px;
    margin-bottom: 30px;
}

.title {
    margin-top: 100px;
}

p {
    margin: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    font-size: 1.5em;
}

.collapse-button-div p {
    margin: 0;
    text-align: right;
    margin-right: 70px;
}

/* Move something around so this thing above doesn't need to exist */

.opening_text {
    font-size: 1.5em;
}

.alg {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 50px;
}

p:not(.alg):not(.sidebar_text) {
    font-size: 1em;
}

.note {
    background-color: var(--note-color);
    width: fit-content;
    padding: 1px;
    border: 3px solid black;
    /* fix this so it doesnt take up so much space */
}

.move_image {
    height: 60px;
    width: 60px;
    border: 3px solid black;
}

img:not(#logo):not(.sidebar_image):not(.move_image) {
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
}

.img-block {
    position: relative;
}

.img-block img {
    overflow: hidden;
    float: right;
    margin-left: 15px;
}

#final-tips-alg {
    margin-left: 15px;
}

.notation_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    margin-left: 10%;
    padding: 0;
    align-content: center;
}

.notation_image {
    margin: 0;
    width: 0;
    margin-bottom: 70px;
}

.move {
    margin: 0;
    margin-top: 10px;
    margin-left: 33%;
    font-size: 1.5em;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color-1);
    font-size: .3em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    color: white;
}

.notation-fixed {
    position: fixed;
    top: 0;
    right: 0;
}

.notation-relative {
    position: absolute;
    right: 0px;
}

.sidebar-nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-nav-relative {
    position: absolute;
    left: 0px;
}

.hidden {
    display: none;
}

@media screen and (min-width: 800px) {

    header {
        display: grid;
        grid-template-columns: 25% auto;
        margin: 0;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav div a {
        height: 20px;
        font-size: 1em;
    }

    nav div {
        padding: 30px;
        height: auto;
        border-radius: 7px;
    }

    .sidebar-nav {
        display: block;
        text-align: left;
        background-color: rgb(67, 164, 255);
        margin: 10px;
        margin-left: 6px;
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 8.5%;
        margin-top: 100px;
        border-radius: 10px;
        font-size: 1em;
    }

    .sidebar {
        width: 10%;
        font-size: 1em;
        top: 150px;
        height: 65%;
        width: 0;
    }

    .sidebar_text {
        font-size: 2em;
    }

    .open-sidebar {
        width: 20%;
        top: 100px;
        height: 70%;
        border: 4px solid black;
    }

    #notation-sidebar-button {
        display: none;
    }

    .line {
        border-top: 3px solid;
        margin-left: 40px;
    }

    .collapse-button-div {
        margin-left: 20px;
    }


    .small_line {
        width: 80%;
        margin-left: 70px;
    }

    :nth-child(1 of .line) {
        margin-bottom: 150px;
    }

    .collapse-button {
        font-size: 2em;
        margin-left: 60px;
    }

    p:not(.alg):not(.sidebar_text) {
        font-size: 1.5em;
    }

    .alg {
        font-size: 50px;
        margin-left: 100px;
    }

    h2 {
        font-size: 50px;
    }

    .img-block {
        display: block;
        overflow: hidden;
    }

    .img-block img {
        float: right;
        margin-left: 100px;
        margin-right: 40px;
    }

    #final-tips-alg {
        margin-left: 100px;
        margin-right: 100px;
    }

    img:not(#logo):not(.sidebar_image):not(.move_image) {
        height: 150px;
        width: 150px;
    }

    .move_image {
        height: 200px;
        width: 200px;
    }

    footer {
        font-size: 1em;
    }

    footer p {
        margin: 6%;
    }
}