body {
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid black;
    padding: 100px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 3.75em;
}

h3 {
    text-align: center;
    color: #2a83c2;
    font-size: 1.6em;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
    margin-top: -25px;
}

#core {
    margin-top: 40px;
}

#by {
    font-style: italic;
}

li {
    margin: 15px;
}

#logo {
    width: 20%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

img {
    margin: 0 auto;
    width: 100%;
}

p, li {
    line-height: 1.5em;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 1.5em;
}

.dark-text {
    color: white;
}